---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import ConceptSection from "../components/ConceptSection.astro";
import HowToPlaySection from "../components/HowToPlaySection.astro";
import FeaturesSection from "../components/FeaturesSection.astro";
import HowItWorksSection from "../components/HowItWorksSection.astro";
import ProgramSection from "../components/ProgramSection.astro";
import RoadmapSection from "../components/RoadmapSection.astro";
import FaqSection from "../components/FaqSection.astro";
import FooterCta from "../components/FooterCta.astro";
import SiteFooter from "../components/SiteFooter.astro";
import ScrollFadeScript from "../components/ScrollFadeScript.astro";
---

<Layout>
  <SiteHeader />

  <HeroSection />

  <main
    id="main"
    tabindex="-1"
    class="mx-auto flex max-w-5xl flex-col gap-24 px-6 pb-24 focus:outline-none"
  >
    <ConceptSection />
    <HowToPlaySection />
    <FeaturesSection />
    <ProgramSection />
    <HowItWorksSection />
    <RoadmapSection />
    <FaqSection />
    <FooterCta />
  </main>

  <SiteFooter />

  <ScrollFadeScript />
</Layout>
